.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  width: 40%;
  height: auto;
  padding: 0px 0px 25px 0px;
  border-radius: 10px;
}

.form-group input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 50%;
  padding: 10px;
}

h2,
label,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 25px 10px 25px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
